---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Letter Writing Tips";
---
<BaseLayout pageTitle={pageTitle}>
<h2> How to Write a Good Letter to a Member of Congress Using HerdOnTheHill.org</h2>

<ol class="faq-list">
    <li>
        <h3 class="faq-question">Q: What will automatically be included in my letter?</h3>
        <div class="faq-answer">
            <p>A: Your member of Congress's name and address, your name and return address, the salutation and closing, and a request that you get a reply to your letter.</p>
        </div>
    </li>
    <li>
        <h3 class="faq-question">Q: Where do I start?</h3>
        <div class="faq-answer">
            <p>A: Choose a single topic for your letter.  (You can certainly write more than one letter, but each one should have specific focus.)  We offer specific topic suggestions which include broader issues (like environmental protection and climate change) and specific policies or bills (like the efforts to repeal the Affordable Care Act).</p>
        </div>
    </li>
    <li>
        <h3 class="faq-question">Q: What's this about choosing a picture?</h3>
        <div class="faq-answer">
            <p>A: The best letters include a photo of you, your family, your friends, or your community.  Choosing your own photo really lets you personalize the letter - it makes it more like you are “with"? us when we are discussing the letter with the congressional staff. It also ensures that your letter doesn't look anything like a form letter.  </p>
            <p>A photo can also help you tell your story. For example, during the debates on repealing the Affordable Care Act, constituents sent photos of their family members who would be personally affected by repeal.  We encourage you to use your own photo, but you can use the stock photo if you don't have one.</p>
        </div>
    </li>
    <li>
        <h3 class="faq-question">Q: I picked my topic, but I'm not sure what to say.</h3>
        <div class="faq-answer">
            <p>A: The best letters are concise and personalized. We want Members of Congress to hear your stories and your voices and to see how their votes and policy choices will impact their constituents. It's more important that you tell your elected official how their vote will affect you, your family, your friends or your community, and less important that you talk about anything specific in a particular bill being considered.</p>
            <p>A good starting place is to say something like, “I am your constituent, and I am writing to you to ask…"? Unless it is a “thank-you"? letter, most every letter will have an “ask", so think about what result you would like to achieve by writing to Congress and make that your “ask".</p>
        </div>
    </li>
    <li>
        <h3 class="faq-question">Q: Is there anything I shouldn't say?</h3>
        <div class="faq-answer">
            <p>A: Please be polite in your letter: no swearing, no personal insults (such as calling your representative an idiot), nothing that could ever be construed as threatening.  We aim for respectful constituent letters that tell a compelling story about a particular issue.</p>
        </div>
    </li>
    <li>
        <h3 class="faq-question">Q: I know my Senator is already going to vote the way I'd like her to.  Is it still worth writing?</h3>
        <div class="faq-answer">
            <p>A: Yes.  It's great when you can write a thank you note to your Senator to tell them you appreciate them fighting the good fight and reminding them that their constituents support their position.</p>
        </div>
    </li>
    <li>
        <h3 class="faq-question">Q: There's so much going on that I'm worried about.  How often should I write?</h3>
        <div class="faq-answer">
            <p>A: Aim for one letter every other week, but also take the time to do some outreach and encourage others to write as well.  Unified voices are powerful.</p>
        </div>
    </li>
    <li>
        <h3 class="faq-question">Q: Anything else I should know?</h3>
        <div class="faq-answer">
            <p>A: When selecting the Members of Congress to receive the letter, think about whether what you wrote is appropriate for all of your elected officials. One Member of Congress may be likely to vote for a bill that you do not like, but another may be likely to vote against it. Make sure you only select the elected officials who should receive your letter.</p>
        </div>
    </li>

    <div class="callout">
        <a href="/">HerdOnTheHill</a> is the quickest way to get your message to us, and to your elected officials.
    </div>
</BaseLayout>