<footer>
    Copyright 2025 Herd on the Hill | All Rights Reserved
    <a href="/tos">Terms of Service</a>
    <a href="/privacy">Privacy</a>
</footer>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
    color: #fff;
    background-color: #0160bf;
    padding: 2em;
    border-top-width: 2em;
    border-color: #007fbd;
  }
  a {
    color: white;
  }
</style>
