---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---

<header>
    <div class="butterbar">
        This site is under development,
        please visit <a href="https://herdonthehill.org/">instead</a>. 
    </div>
    <nav>
        <Hamburger />
        <div>
            <a href="/">
                <img src="/logo.jpg">
            </a>
        </div>
        <Navigation />
    </nav>
</header>

<style>
    .butterbar {
        width: 100%;
        background: #ddd84b;
        text-align: center;
        padding: 1em;
    }
</style>