---
import DevBanner from './DevBanner';
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<header>
    <DevBanner />
    <nav>
        <Hamburger />
        <div>
            <a href="/">
                <img src="/logo.png" width="250" height="54" alt="Herd on the Hill">
            </a>
        </div>
        <Navigation />
    </nav>
</header>
