---
import { Button } from "@/components/ui/button"
---
<center>
    <p>
      <a href="/letter" data-astro-prefetch>
        <Button variant="destructive">Write a Letter NOW to Your Senators for Hand Delivery by Volunteers in DC</Button>
      </a>
    </p>
</center>